body{
  --culoare1:#2596BE;
  --culoare-inchisa: #005EE0;
  --culoare-deschisa:#00E0D5;
  --culoare-text:black;
  --culoare-text-selectat:white;

  --primary-color:#2596BE;
  --complementary-color-1:#00E0D5;
  --complementary-color-2:#00E03C;
  --accent-color-1:#005EE0;
  --accent-color-2:#4BE0D8;
  --accent-color-3:#00E088;

  --spatiere:100px;
  padding-left:var(--spatiere);
  padding-right:var(--spatiere);
}

:root {
  --culoare-fundal: #65D5EB;
  --primary-color: #2596BE;
  --complementary-color-1: #00E0D5;
  --complementary-color-2: #00E03C;
  --accent-color-1: #005EE0;
  --accent-color-2: #4BE0D8;
  --accent-color-3: #00E088;
  --background-image: url('/resurse/imagini/background-light.jpg');
  --text-color: black;
}


body{
  background-image: var(--background-image);
  background-attachment: fixed;
  background-size: cover;
  color: var(--text-color);
}

body.dark {
  --primary-color: #070448;
  --complementary-color-1: #005BBB;
  --complementary-color-2: #4d4231;
  --accent-color-1: #2b1a02;
  --accent-color-2: #4BE0D8;
  --accent-color-3: #2b1a02;
  --background-image: url('/resurse/imagini/background-dark.jpg');
  --text-color: white;
  --culoare-inchisa: #070448;
  --culoare-deschisa: #005BBB;;
}


#link-top{
    position:fixed;
    bottom:0.3em;
    opacity:0.5;
    left:0.3em;
    width:3rem;
    box-sizing: border-box;
    height:3rem;
    line-height:3rem;
    text-align:center;
    border:5px solid var(--culoare-deschisa);
    border-radius:50%;
    background: rgb(220,220,220);
    transition: transform 1s linear; /*opacity 3s linear*/
    transition: all 1s linear;
    box-shadow: 0px 0px 5px 5px var(--accent-color-1);

  }
  #link-top:hover{
    opacity:1;
  }

  .triunghi{
    display: inline-block;
    margin-right: 1px;
    vertical-align: middle;
    margin-top: -10px;
    font-size: 45px;
    font-style: normal;
    color: var(--complementary-color-1);
  }

  #tab-orar td, #tab-orar th{
      border: 1px solid black;
  }

  #tab-orar thead th:nth-child(2n+1){
    background-color: var(--accent-color-3);
  }

  #tab-orar{
    max-width: 100%;
    overflow-x: auto;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    border: 5px inset var(--culoare-text); 
  }
  
  th, td {
    border: 1px solid transparent; 
    padding: 10px;
    text-align: center;
  }
  
  thead th {
    background-color: var(--complementary-color-1);
  }
  
  tbody tr:nth-child(even) {
    background-color: var(--culoare-deschisa);
  }
  
  tbody tr:nth-child(odd) {
    background-color: var(--accent-color-3);
  }
  
  tbody tr:hover {
    outline: 5px solid transparent; 
    transition: outline 0.5s; 
  }

  .container-iframe{
    display: flex;
    flex-direction: column-reverse;
    width: 50%;
}
.container-iframe iframe{
    width: 100%;
}

.taburi-iframe{
    display:flex;
    flex-direction: line;
    justify-content: center;
    margin-inline: 0.5em;
    margin-right: 0.5em;
}
.taburi-iframe>a{
    border:1px solid var(--accent-color-2);
    background-color: var(--primary-color);
    color: red;
    margin-bottom: 0.4em;
    margin-right: 3em;
    padding: 0.6em;
    transition: transform 1s linear; /*opacity 3s linear*/
    transition: all 1s linear;
    box-shadow: 0px 0px 5px 5px var(--accent-color-1);
    border-bottom-left-radius:10px;
		border-bottom-right-radius:10px;
}

.taburi-iframe>a:hover{
    background-color: var(--complementary-color-2);
    color: black;
}


#watermark,#absolut{
  display:none;
}


#grid-pagina {
  font-size: 10px;
  box-sizing: border-box;
  page-break-before: always;
  background-color: none;
}

@media print {
  #absolut {
    display: block;
    position: absolute;
    width: 70%;
    left: 15%; /* 100% - 70% / 2 = 15% */
    bottom: 0;
    padding: 10px; /* Adăugăm puțin spațiu între conținut și marginile banner-ului */
    border: 4px inset black;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Adăugăm o opacitate pentru a face textul mai vizibil */
  }
  
  #absolut::after {
    content: "Acesta este un proiect școlar!";
    font-size: 10px;
    font-weight: bold;
  }

  h1 {
    text-align: center;
    background-color: var(--accent-color-2);
  }

  /* Stilizarea meniului */
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    margin-bottom: 5px; /* Spatiere intre elementele listei */
  }

  /* Adăugarea unui page break după meniu */
  nav {
    page-break-after: always;
  }

  /* Adăugarea unui page break înaintea footer-ului */
  footer {
    page-break-before: always;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  #grid-pagina {
    display: block;
  }

  #watermark
		{
			display: block;
			position: fixed;/*apare pe toate paginile*/
			bottom:0;
			color:black;
			right:0;
		}
		#watermark::after{
			
		opacity: 0.4;
    padding: 5px;
    width: 4cm;
    height: 1cm;
    display: block;
    background: white;
    font-weight: bold;
    border: 3px solid black;
    border-radius: 10px;
    content: "Apostu Alexandru-Costin";
		}

  #end {
    page-break-before: always;
  }

  img, video, iframe, audio, figcaption, a[id="link-top"] {
    display: none;
  }


  @page {
    size: A4 portrait;
    margin-top: 2cm;
    margin-bottom: 2cm;
  }

  @page:left {
    margin-left: 3cm;
    margin-right: 1cm;
  }

  @page:right {
    margin-left: 1cm;
    margin-right: 3cm;
  }
}

.banner {
  display: none;
  position: fixed;
  bottom: -100px;
  width: 100%;
  background-color: #ffcc00;
  text-align: center;
  padding: 20px;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  transition: all 3s ease-in-out;
}

.banner.show {
  display: block;
  bottom: 20px;
}

.banner p {
  margin: 0;
  color: #000;
}

.banner button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

@media (max-width: 768px) {
  .banner {
    display: block;
    bottom: 0;
    position: static;
  }
}

a:visited {
  color: red; 
}

a[href^="http"]::before {
  content: "⮳";
  font-size: 150%; /* Font-size cu 50% mai mare față de dimensiunea fontului linkului */
  margin-right: 0.2em;
}


a[href^="http"]:hover::before {
  color: yellow; 
}

:root {
  --link-visited-color: #8200ae; /* Color for visited links */
  --external-link-hover-color: #000000; /* Color for hover effects */
  --link-hover-background-color: #87CEFA; /* Color for the hover blob */
}

/* Basic link styling */
.special-link {
  position: relative;
  text-decoration: none; /* Removes underline */
}

/* Visited link styling */
.special-link:visited {
  color: var(--link-visited-color);
}

/* Hover effect with color blob */
.special-link:hover {
  background-image: radial-gradient(ellipse at center, var(--link-hover-background-color) 0%, var(--link-hover-background-color) 40%, transparent 80%, transparent 100%);
  background-size: 0% 0%; /* Initial size of the oval */
  transition: background-size 0.5s ease; /* Add transition for smooth animation */
}

/* Change background size to make the oval grow */
.special-link:hover {
  background-size: 100% 100%; /* Final size of the oval */
}

/* Adding a border on click (:active state) */
.special-link:active {
  border: 2px solid var(--external-link-hover-color); /* Adjusting border color to be blue */
  padding: -1px; /* Adjust padding to compensate for the border thickness without shifting content */
}









