html{
    font-size: 18px;
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
    font-style: normal;

    --culoare-fundal:#65D5EB;
    --dim-spatiere:50px;
    padding-left: var(--dim-spatiere);
    padding-right: var(--dim-spatiere);
    --primary-color:#2596BE;
    --complementary-color-1:#00E0D5;
    --complementary-color-2:#00E03C;
    --accent-color-1:#005EE0;
    --accent-color-2:#4BE0D8;
    --accent-color-3:#00E088;
    
}

#grid-pagina{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4,1fr); /*1fr 1fr 1fr 1fr ;*/
    grid-template-areas:"welcome welcome welcome welcome"
                        "welcome welcome welcome welcome"
                        "evenimente tabel tabel anunturi"
                        "utilizatori tabel tabel anunturi"
                        "utilizatori date_utilizator date_utilizator date_site"
                        "echipa_noastra parteneri index-intrebari index-intrebari";
}

#grid-pagina>*{
    border: 2px solid var(--complementary-color-2);
    padding: 1em;
}

.p_schiuri{
    width: 50%;
}

#welcome{
    grid-area: welcome;
}
#tabel{
    grid-area: tabel;
}
#evenimente{
    grid-area: evenimente;
}
#anunturi{
    grid-area: anunturi;
}
#utilizatori{
    grid-area: utilizatori;
}
#date_utilizator{
    grid-area: date_utilizator;
}
#date_site{
    grid-area: date_site;
}
#echipa_noastra{
    grid-area: echipa_noastra;
}
#index-intrebari{
    grid-area: index-intrebari;
}
#parteneri{
    grid-area: parteneri;
}

.intro-tabel{
    font-size: 1.5rem;
}


@media screen and  (max-width: 1200px) {

    html{
        font-size: 15px;
    }

    #grid-pagina{
        grid-template-columns: repeat(3,1fr); /* 1fr 1fr 1fr 1fr ;*/
        grid-template-areas: "welcome welcome welcome"
                            "welcome welcome welcome"
                            "evenimente tabel anunturi"
                            "utilizatori tabel anunturi"
                            "utilizatori date_utilizator date_site"
                            "echipa_noastra parteneri index-intrebari";
                }
            }
 @media screen and  (max-width: 800px) {

    html{
        font-size: 12px;
    }

    #grid-pagina{
        display: block;
                }
            }

.video-player {
    display: block;
    margin: 0 auto;
}

/* CSS for the text gradient in VTT */
::cue {
    background: linear-gradient( var(--accent-color-1),var(--complementary-color-1)); 
    color: var(--culoare-text); 
    -webkit-background-clip: text; 
    background-clip: text; 
}