:root {
    --culoare-fundal: #65D5EB;
    --primary-color: #2596BE;
    --complementary-color-1: #00E0D5;
    --complementary-color-2: #00E03C;
    --accent-color-1: #005EE0;
    --accent-color-2: #4BE0D8;
    --accent-color-3: #00E088;
    --background-image: url('/resurse/imagini/background-light.jpg');
    --text-color: black;
  }


body{
  background-image: var(--background-image);
  background-attachment: fixed;
  background-size: cover;
  color: var(--text-color);
}

body.dark {
  --primary-color: #070448;
  --complementary-color-1: #005BBB;
  --complementary-color-2: #4d4231;
  --accent-color-1: #2b1a02;
  --accent-color-2: #4BE0D8;
  --accent-color-3: #2b1a02;
  --background-image: url('/resurse/imagini/background-dark.jpg');
  --text-color: white;
  --culoare-inchisa: #070448;
  --culoare-deschisa: #005BBB;;
}

nav{
    --inaltime-meniu:2.5em;
    --latime-buton:150px;
    height: var(--inaltime-meniu);
    background-color: var(--culoare-deschisa);
    margin-bottom: 1em;
}

#hamburger, #ch-menu{
    display: none;
}

#acasa-mediu{
    display: none;
}

.meniu{
    display: flex;
    list-style-type: none;
    padding: 0;
    background-color:  var(--culoare-deschisa);
}

.meniu ul{
    list-style-type: none;
    display: none;
    position: absolute;
    top: 100%; /* Submeniul se va poziționa sub buton */
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--culoare-deschisa);
    transform-origin: center;
    transform: scaleY(0); /* Inițial submeniul este ascuns */
    transition: transform 0.2s ease-in-out;
}

.meniu ul li{
    display: inline-block;
}

.meniu ul li a{
    display: block;
    width: auto;
}

.meniu li{
    position: relative;
    display: inline-block;
    width: var(--latime-buton);
    height: var(--inaltime-meniu);
    text-align: center;
    box-sizing: border-box;
}

.meniu li div{
    line-height: var(--inaltime-meniu);
    color: var(--culoare-text);
    cursor: pointer;
    text-decoration: none;
    box-sizing: border-box;
    transition: all 1s linear;
}

.meniu li a{
    line-height: var(--inaltime-meniu);
    color: var(--culoare-text);
    cursor: pointer;
    text-decoration: none;
    box-sizing: border-box;
    transition: all 1s linear;
}

.meniu li:hover>ul{
    display: block;
    position: absolute;
    z-index: 100;
    transform-origin: center;
    animation: animatie-submeniu 1s linear 1 forwards;
    
}

@keyframes animatie-submeniu {
    100%{
        opacity: 1;
        transform: scaleY(1);
    }
}


.meniu li:hover>a{
    background-color:var(--culoare-inchisa);
    
}


.meniu li div::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; /* Lățimea va fi mai mare decât butonul */
    height: 7px; /* Înălțimea barei */
    background: linear-gradient(to right, var(--culoare-deschisa), white); /* Gradient de la negru la alb */
    transform-origin: left;
    transform: scaleX(0); /* Inițial bara este invizibilă */
    transition: transform 0.3s ease; /* Efect de tranziție */
}

.meniu li div:hover::before {
    transform-origin: right;
    transform: scaleX(1); /* Barele se vor extinde */
}

