nav{
    --inaltime-mediu:2.2em;
    --inaltime-buton:120px;
}

#acasa-mediu{
    display: block;
}

#acasa{
    display: none;
}

@media screen and  (max-width: 1000px) {

    html{
        font-size: 10px;
    }
}