body{
    --culoare-fundal:#65D5EB;
    --dim-spatiere:50px;
    padding-left: var(--dim-spatiere);
    padding-right: var(--dim-spatiere);
}

p{
    background-color:vaR(--culoare-fundal);
}

h1{
    border: 5px solid var(--culoare-fundal);
    margin-left: auto;
    margin-right: auto;
    border: 5px solid blue;
    box-shadow: 5px 5px 5px rgb(4, 241, 190);
    text-align: center;
}

h2{
    border: 2px solid(--culoare-fundal);

}