body {
  --culoare-fundal: #65D5EB;
  --dim-spatiere: 50px;
  padding-left: var(--dim-spatiere);
  padding-right: var(--dim-spatiere);
  --primary-color: #2596BE;
  --complementary-color-1: #00E0D5;
  --complementary-color-2: #00E03C;
  --accent-color-1: #005EE0;
  --accent-color-2: #4BE0D8;
  --accent-color-3: #00E088;
}

p {
  background-color: var(--culoare-fundal);
}

h1 {
  border: 5px solid var(--primary-color);
  margin-left: auto;
  margin-right: auto;
  box-shadow: var(--accent-color-1); /* Corectat numele variabilei */
  text-align: center;
}

h2 {
  border: 2px solid var(--culoare-fundal); /* Corectat sintaxa pentru culoare */
}