<script src="/resurse/js/tema.js"></script>
<header>
    <h1>Solstice</h1>
    <h3>Infrunta zapezile cu incredere!</h3>
    <button id="theme-switcher">Schimba tema
        <img id="light-icon" src="/resurse/imagini/soare-icon.png" alt="light" width="20" height="20" >
        <img id="dark-icon" src="/resurse/imagini/luna-icon.png" alt="dark" width="20" height="20">
    </button>

    <nav>

        <label id="hamburger" for="ch-menu">
            <img src="resurse/imagini/hamburger.png" alt="menu">
        </label>
        <input id="ch-menu" type="checkbox">
        <ul class="meniu">
            <li><div id="acasa">Acasa</div><div id="acasa-mediu"><span class="fas fa-regular fa-house"></span></div>
                <ul>
                    <li><a href="/index#welcome">Bine ai venit</a></li>
                    <li><a href="/index#produse">Produse</a></li>
                    <li><a href="/index#promotii">Promotii</a></li>
                    <li><a href="/index#lichidari_stoc">Lichidari</a></li>
                    <li><a href="/index#reduceri">Reduceri</a></li>
                    <li><a href="/index#noutati">Noutati</a></li>
                    <li><a href="/index#orar">Orar</a></li>
                    <li><a href="/index#index-intrebari">Intrebari</a></li>
                </ul>
            </li>

            <li><a href="/inregistrare">Inregistrare</a></li>

            <li><div>Produse</div>
                <ul>
                    <li><a href="/produse">Toate</a></li>
                    <li><a href="/produse?tip=cofetarie">Prajituri</a></li>
                    <li><a href="/produse?tip=gelaterie">Gelaterie</a></li>
                    <li><a href="/produse?tip=patiserie">Patiserie</a></li>
                    <li><a href="#">Echipamente</a></li>
                    <li><a href="#">Accesorii</a></li>
                </ul>
            </li>

            <li><div>Servicii</div>
                <ul>
                    <li><a href="#">Ascutire schiuri/snowboard</a></li>
                    <li><a href="#">Reglare schiuri</a></li>
                    <li><a href="#">Reglare clapari</a></li>
                    <li><a href="#">Ceruit snowboard/schiuri</a></li>
                    <li><a href="#">Reglare legaturi snowboard</a></li>
                    <li><a href="#">Reconditionat schiuri/snowboard</a></li>
                    <li><a href="#">Termoformare clapari</a></li>
                </ul>
            </li>

            <li><div>Cursuri si tabere</div>
                <ul>
                    <li><a href="#">Tabere schi</a></li>
                    <li><a href="#">Tabere snowboard</a></li>
                    <li><a href="#">Cursuri schi</a></li>
                    <li><a href="#">Cursuri snowboard</a></li>
                </ul>
            </li>

            <li>
                <div>
                    <a href="#">Contact</a>
                </div>
            </li>
            <%- include("submeniu-utilizator-logat.ejs",)
            %>
            <%- include("submeniu-administrare.ejs",)
            %>

        </ul>
    </nav>
</header>
